<% @user ||= current_user %>
<div>
	<a href="<%= user_path(@user) %>">
  <%= gravatar_for @user, size: 62 %>
</a>
<div>
<h3>
  <%= @user.name %>
</h3>

  <%= link_to "view my profile", @user %>
<br/>  <%= pluralize(@user.microposts.count, "micropost") %>
</div>
</div>